$primary-white: #fff;

$primary-black: #212121;

$primary-ash: #d8d8d8;
$secondary-ash: #66666680;
$tertiary-ash: #11111180;
$background-ash: #f6f7fa;

$primary-green: #86eaae;

$main-transition: 0.5s all ease-in-out;

$container-width: 120rem;

$dark-color: #0d1c2e;

$primary-brown: #5c524d;
$primary-orange: #fc732f;
